# See: https://pip.pypa.io/en/stable/reference/pip_install/#requirements-file-format
gym[atari] >= 0.9.7
h5py >= 2.7.1
numpy >= 1.14.5
pytest >= 3.3.2
scipy >= 1.1.0
tqdm >= 4.23.4
-e git+https://github.com/Matioz/gym-sokoban.git@9ded2383b61d1b625aa68ef71f6cfeed8488cf7b#egg=gym-sokoban
-e git+https://github.com/Matioz/gym-maze.git@91f2ba002825404eb950622e1d291dda96371eaa#egg=gym-maze
